header ul li {
  float: left;
}

header ul {
  overflow: hidden;
  list-style-type: none;
}

.oculto {
  display: none
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
